.navbar{
    /* background-color: #6da2d6; */
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    z-index: 1000;
    background-color: #ffffff;

}

.logo{
    height: 60px;
    vertical-align: middle;
    margin-right: 15px;
}