body{
    background-color: #ffffff;
}

.page3 {
  background-color: #ffffff; 
}

.page3 .card2{
    margin-left: 25%;
    margin-top: 0px;
    width: 700px;
    height: fit-content;
}

.page3 .card1{
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: white;
    color: black;
    padding: 5px 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.page3 .home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 120px;
  color: rgb(8, 0, 0);
}

.home-content > h1 {
    font-size: 40px !important;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px !important;
}

.page3 .form-box{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid #fe5000; */
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.page3 .first-row{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.page3 .account-button2{
    margin-top: 20px;
    position: relative;
    left: 160px;
}
